* {
	padding: 0;
	border: 0;
	margin: 0;
}

a {
	display: inline-block;
	text-align: center;
	width: 200px;
	box-sizing: border-box;
	border: 1px solid black;
}

a:hover {
	font-weight: bold;
	color: orange;
}